<!DOCTYPE html>
<html>
  <head>
    <title>GIN Details</title>
    <link rel="stylesheet" href="/css/display.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
  </head>
  <body>
    <h1>Temporary GIN Details</h1>
    <button id="exportButton">Export to Excel</button>
    <hr />
    <table>
      <tr id="header">
        <th>Serial Number</th>
        <th>Issued To</th>
        <th>Mail ID of the Receiver</th>
        <th>Issued By</th>
        <th>Mail ID of the Issuer</th>
        <th>Transported By</th>
        <th>Inv No</th>
        <th>Received By</th>
        <th>Inv Date</th>
      </tr>
      <% var count = 0; %> 
      <% if(gins.length === 0){ %>
      <tr>
        <td><%= gins %></td>
      </tr>
      <% }else{ %> <% gins.map((gin) => { %>
      <tr>
        <% count++; %>
        <td><%= count %></td>
        <td><%= gin.issuedTo %></td>
        <td><%= gin.mailIdOfTheReceiver %></td>
        <td><%= gin.issuedBy %></td>
        <td><%= gin.mailIdOfTheIssuer %></td>
        <td><%= gin.transportedBy %></td>
        <td><%= gin.invNo %></td>
        <td><%= gin.receivedBy %></td>
        <% var dateString = gin.invDate; %> <% var dateObject = new
        Date(dateString); %> <% var year = dateObject.getFullYear(); %> <% var
        month = dateObject.getMonth() + 1; %> <% var day = dateObject.getDate();
        %> <% var formattedDate = `${year}-${month.toString().padStart(2,
        '0')}-${day.toString().padStart(2, '0')}`; %>
        <td><%= formattedDate %></td>
        <% }) %> <% } %>
      </tr>
    </table>

    <script>
      // Function to export the table to an Excel sheet
      function exportToExcel() {
        const table = document.querySelector("table");
        const ws = XLSX.utils.table_to_sheet(table);
        const wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, "Sheet1");
        XLSX.writeFile(wb, "GIN_Details.xlsx");
      }

      // Add a click event listener to the export button
      document
        .getElementById("exportButton")
        .addEventListener("click", exportToExcel);
    </script>
  </body>
</html>
