<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="title">Temporary GIN Form</div>
      <% if (typeof error !=="undefined" && error.length > 0) { %>
      <p style="color: red"><%= error %></p>
      <% } %> <% if (typeof success !== "undefined" && success.length > 0) { %>
      <p style="color: green"><%= success %></p>
      <% } %>
      <form action="/" method="POST" autocomplete="off">
        <div class="form">
          <div class="inputfield">
            <label>Issued To</label>
            <input type="text" name="issuedTo" class="input" />
          </div>
          <div class="inputfield">
            <label>Mail ID of the Receiver</label>
            <input type="email" name="mailIdOfTheReceiver" class="input" />
          </div>
          <div class="inputfield">
            <label>Issued By</label>
            <input type="text" class="input" name="issuedBy" />
          </div>
          <div class="inputfield">
            <label>Mail ID of the Issuer</label>
            <input type="email" class="input" name="mailIdOfTheIssuer" />
          </div>
          <div class="inputfield">
            <label>Transported By</label>
            <input type="text" class="input" name="transportedBy" />
          </div>
          <div class="inputfield">
            <label>Inv No</label>
            <input type="number" class="input" name="invNo" />
          </div>
          <div class="inputfield">
            <label>Received By</label>
            <input type="text" class="input" name="receivedBy" />
          </div>
          <div class="inputfield">
            <label>Inv Date</label>
            <input type="date" class="input" name="invDate" />
          </div>
          <div class="inputfield">
            <input type="submit" value="Submit" class="btn" />
          </div>
        </div>
      </form>
      <div class="btnField">
        <a href="/display" class="btn">Show All</a>
      </div>
    </div>
  </body>
</html>
